*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* max-height: 50vh;
  min-height: 50vh; */
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main-container{
  position: relative;
  margin-left: 10vw;
  margin-bottom: 10px;
  margin-top: 20px;
  min-width: 80vw;
  max-width: 80vw;
  background-color: #f8f9fa;
  padding: 10px 20px 20px 20px;
}

.main-container > p:nth-child(1){
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 150px;
  font-size: .9em;
  font-weight: 600;
  color: #385168;
  vertical-align: top;
}
.main-container > .btn-signIn{
  position: absolute;
  top: 9px;
  right: 150px;
  background: #007cff;
  color: white;
  font-size: .9em;
  border: none;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  vertical-align: top;
}

.topSection{
  position: relative;
  background-image: linear-gradient(rgba(14, 40, 71, 0.6), rgba(14, 40, 71, .6)),
  url(./sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  margin: 30px 0 30px 0;
}

.topSection>div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.topSection>div>p{
  color: white;
  font-size: 1.53em;
  font-weight: 600;
  padding-bottom: 10px;
}


.topSection input{
  border: none;
  padding: 10px 0 10px 3px;
  border-radius: 2px;
  width: 250px;
}

.topSection button{
  background: #007cff;
  color: white;
  font-size: .9em;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.bottomSection{
  position: relative;
  margin-top: 3px;
  padding: 60px;
  
}

.bottomSection .item{
  display: inline-block;
  text-align: center;
  width: 300px;
  padding: 10px;
  vertical-align: top;
}

.bottomSection .item i{
  color: #007cff;
  display: inline-block;
  font-size: 50px;
}
