* {
  box-sizing:border-box;
}

body{
  margin-left: 300px;
}


div{
  text-align: center;
  font-size: 1.2em;
  color: white;
}
/*Exo 1*/
#main1{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: space-between;
  height: 300px;
  width: 700px;
 
}
#main1 div{
  background: skyblue;
  padding: 30px 0;
}

#main1 div:nth-of-type(2){
  width: 50%;
  height: 100px;
  align-self: center;
}

/* end exo 1*/



/*exo 2*/
#main2{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 300px;
  width: 700px;
}
#main2 div{
  color: white;
  background: skyblue;
  padding: 20px 0;
  margin: 5px;
}

#main2 div:nth-of-type(2){
  width: 20%;
  align-self: flex-end;
}

/*end exo 2*/

/*exo 3*/
#main3{
  margin-top: 20px;
  display: flex;

  width: 700px;
  border: 2px solid rgb(239, 148, 57);
  padding: 25px 10px;
}

#main3 div{
  padding: 8px 0;
}

#main3 .logo{
  background: rgb(192, 162, 222);
  width: 100px;
}

#main3 .team{
  background: rgb(119, 200, 214);
  flex: 1;
}

#main3 .product{
  background: rgb(211, 95, 95);
  flex: 1;
}

/*end 3*/

/* exo 4*/

#main4{
  margin-top: 20px;
  display: flex;
  width: 700px;
  border: 1px solid red;
  flex-direction: column;
  align-items: center;
}

#main4 div{
  background: skyblue;
  padding: 20px 0;
  width: 50%;
  margin: 5px;
}
#main4 div:nth-of-type(2){
  width: 100%;

}
/* end */