@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
 *{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 body{
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }
 
 .main-container{
   position: relative;
   width: 100%; 
   max-width: 1000px;
   min-height: 1000px;
   background: white;
   display: grid;
   margin: 50px;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
 }


 .main-container .left-side{
   position: relative;
   background: #003147;
   padding: 40px;
 }

 .profileInfo{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 5px solid orange;
 }

 .profileInfo .imgContainer{
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
   background-image: url(./man.webp);
   background-repeat: none;
   background-size: cover;
   background-position: center;
   font-weight: 600;
   line-height: 1.4em;
 }

 .profileInfo h2{
   color:#fff;
   font-size: 1.5em;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
 }
 
 .profileInfo h2 span{
   font-size: 0.8em;
   font-weight: 300;
 }

 .contactInfo{
   padding-top: 40px;
 }

 .title{
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px;
 }

 .contactInfo ul{
   position: relative;
 }

 .contactInfo ul li{
   position: relative;
   list-style: none;
   margin: 10px 0;
   cursor: pointe rS;
 }

 .contactInfo ul li .icon{
   display: inline-block;
   width: 30px;
   font-size: 18px;
   color: #03a9f4;
 }


 
 .text{
   color: #fff;
   font-weight: 300;
 }

 .contactInfo.education h5{
   color: orange;
   font-weight: 500;
 }
 .contactInfo.education h4:nth-child(2){
   color: #fff;
   font-weight: 500;
 }
 .contactInfo.education h4{
   color: #fff;
   font-weight: 300;
 }
 .main-container .right-side{
   position: relative;
   background: #fff;
   padding: 40px;
 }

 .about{
   margin-bottom: 50px;
 }

 .about:last-child{
   margin-bottom: O;
 }

 .title2{
   color: orange;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 10px;
 }
 
 p{
   color: #003147;
 }
 
 @media screen and (max-width: 600px){
   .main-container .left-side{
     position: relative;
     background: #003147;
     padding: 10px;
   }
   .profileInfo{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 10px;
     border-bottom: 5px solid orange;
   }

   .profileInfo .imgContainer{
     position: relative;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     overflow: hidden;
     background-image: url(./man.webp);
     background-repeat: none;
     background-size: cover;
     background-position: center;
     font-weight: 600;
     line-height: 1.4em;
   }

   .profileInfo h2{
     color:#fff;
     font-size: 1em;
     margin-top: 10px;
     text-transform: uppercase;
     text-align: center;
   }
   
   .profileInfo h2 span{
     font-size: 0.8em;
     font-weight: 300;
   }

   .contactInfo{
     padding-top: 40px;
   }

   .title{
     color: #fff;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     margin-bottom: 2px;
   }

   .contactInfo ul{
     position: relative;
   }

   .contactInfo ul li{
     position: relative;
     list-style: none;
     margin: 10px 0;
     cursor: pointer;
   }

   .contactInfo ul li .icon{
     display: inline-block;
     width: 30px;
     font-size: 10px;
     color: #03a9f4;
   }

 
   
   .text{
     color: #fff;
     font-weight: 300;
   }

   .contactInfo.education h5{
     color: orange;
     font-weight: 500;
   }
   .contactInfo.education h4:nth-child(2){
     color: #fff;
     font-weight: 500;
   }
   .contactInfo.education h4{
     color: #fff;
     font-weight: 300;
   }
   .main-container .right-side{
     position: relative;
     background: #fff;
     padding: 40px;
   }

   .about{
     margin-bottom: 50px;
   }

   .about:last-child{
     margin-bottom: O;
   }

   .title2{
     color: orange;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin-bottom: 10px;
   }
 }