@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
 *{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

#main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
}

.left-side, .right-side{
  display: inline-block;
  padding:25px 10px 25px 10px;
  width: 49%;
  vertical-align: top;
 
}

.left-side{
  background: white;
  font-size: .85em;
  font-weight: 500;
  color: #711781;
  margin-left: 25px;
}

.left-side h2{
  padding: 8px 40% 0px 35%;
  margin-bottom: 15px;
  font-size: 1.65em;
}

.form-field{
  margin-bottom: 25px;
  width: 90%;
  padding: 10px 7px 10px 7px;
  background: rgba(223, 221, 221, 0.801);
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1em;
}

.form-field::placeholder{
  font-size: 15px;
}
.form-field:focus{
  border: 1px solid #9b27b094;
}
form input[type="checkbox"]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
form span{
  display: inline-block;
  padding-left: 92px;
}

form span a:link{
  text-decoration: none;
}

form span a:link,form span a:visited{
  color: inherit;
}

form span a:hover{
  color: #711781;
  text-decoration: underline;
}

form input[type="button"]{
  background-image: linear-gradient(
    to right, 
    #292136 0%, 
    #9c27b0  51%, 
    #292136  100%);
}

form input[type="button"]{
  margin: 20px 0 30px 0;
  padding: 8px 39.5% 8px 39.5%;
  text-align: center;
  background-size: 200%;
  color: white;
  font-size: .90em;            
  border:none;
  transition: all .8s;
}
form input[type="button"]:hover{
  background-position: right center;
}

.connect-with p:nth-child(1){
  padding-right: 35px;
}

.connect-with p:nth-child(1)::after{
  content: '';
  display: inline-block;
  height: 1px;
  width: 29%;
  margin: 1px 0 1px 13px;
  background: #292136;
}


.connect-with p:nth-child(1)::before{
  content: '';
  display: inline-block;
  height: 1px;
  width: 28%;
  margin: 1px 15px 1px 0;
  background: #292136;
}

.icons{
  padding: 15px 50px 0px 0px;
  text-align: center;
  font-size: 1.7em;
}

.icons i{
  padding-left: 10px;
  
}

.icons a:link, .icons a:visited{
  color: #9b27b0b6
}
.icons a:hover{
  color: #9b27b0
}
.connect-with + p{
  margin-top: 50px;
  padding: 8px 38% 0px 38%;
}

.right-side{
  background: linear-gradient(to bottom right, #292136 15%, #9c27b0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 2px;
  color: white;
  text-align: center;
  padding: 18% 0 25% 0;
}

.right-side > i:nth-child(1){
  font-size: 3em;
}

.right-side h2{
  font-size: 1.7em;
  letter-spacing: 1px;
}

.right-side p{
  font-weight: 100;
  color: rgba(255, 255, 255, 0.753);
  padding: 0 25px;
}

.right-side button{
  margin: 20px 0 30px 0;
  padding: 8px 5% 8px 5%;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 50px;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.3px;
  transition: padding .5s;
}

.right-side button:hover{
  padding: 8px 20% 8px 20%;
}

.right-side button i{
  border: 1px solid white;
  border-radius: 20px;
  padding: 3px;
}